# CONEXIÓN CON APPWRITE

APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=
APPWRITE_PROJECT_NAME=
APPWRITE_DATABASE_ID=
APPWRITE_ACTAS_COLLECTION_ID=
APPWRITE_PROFILES_COLLECTION_ID=
APPWRITE_RECINTOS_COLLECTION_ID=
APPWRITE_ORGANIZACIONES_POLITICAS_COLLECTION_ID=
APPWRITE_PARROQUIAS_COLLECTION_ID=
APPWRITE_STORAGE_BUCKET_ID=
APPWRITE_API_KEY=
