# CONEXIÓN CON APPWRITE

APPWRITE_ENDPOINT=
APPWRITE_PROJECT_ID=
APPWRITE_DATABASE_ID=
APPWRITE_ACTAS_COLLECTION_ID=
APPWRITE_PROFILES_COLLECTION_ID=
APPWRITE_RECINTOS_COLLECTION_ID=
APPWRITE_STORAGE_BUCKET_ID=
